<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.auth0.MASproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="To-Do List App Project"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArrayListLab">
        <activity
            android:name="com.auth0.MASproject.RegActivity"
            android:exported="false" />
        <activity
            android:name="com.auth0.MASproject.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.auth0.MASproject.UpdateActivity"
            android:exported="false" />
        <activity
            android:name="com.auth0.MASproject.AddActivity"
            android:exported="false" />
        <activity
            android:name="com.auth0.MASproject.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>